
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

header {
    width: 100vw;
    height: 400px;
    padding-top: 40px;
    /* min-height: 400px; */
    background-color: red;
    background-image: url("https://images.unsplash.com/photo-1512658185139-2ba36f8776a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-position: center;
    background-size: 1850px;
    padding-top: 20px;
}

footer {
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px 5px;
    background: #ee9ca7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer div.icons {
    font: 10px;
    display: flex;
}

/* footer div.icons div {
    margin: 0px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }*/

footer div.icons i {
    margin: 0px 10px;
    font-size: larger;
}

footer div.icons i:hover {
    cursor: pointer;
    color: rgb(32, 32, 32);
    opacity: 0.6;
}

section.container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.todo {
    width: 450px;
    height: 520px;
    /*background: #11cbc5;  
background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  
background: linear-gradient(to right, #80f7c5, #a0e4e2);*/
    position: relative;
    top: -100px;
}

section.container div.todo div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    font-size: 25px;
    font-style: italic;
   margin-left: 15px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

section.container div.todo div.items{
   
   margin: 5px 15px;
   height: 80%;
   padding: 5px 5px;
}

section.container div.todo div.items div.item{
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin: 20px 10px;
    border-radius: 10px;
    
}

div.todo div.items div.item input {
    flex-basis: 90%;
    font-size: 20px;
    border: none;
    background-color: transparent;

 }
   
div.todo div.items div.item i{
    color: black;
    font-size: larger;
    position: relative;
    color: dodgerblue;
    top: 0px;
}


